body
{
}
.container {
    margin: 20px 10%;
}

h1 {
    background-color :aqua;
}

.flex-container {
    list-style : none;
    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.flex-item {
    background: indigo;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;

    line-height: 150px;
    color: wheat;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 50px 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;

}

.c {
    grid-column-start: 2;
    grid-column-end: four;
    grid-row-start: row1-start;
    grid-row-end: 3;
}


.grid-item {
    background: seagreen;
    padding: 5px;
    width: 70px;
    height: 70px;
    margin-top: 10px;

    line-height: 15px;
    color: gold;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

svg.draw {
    width: 300px;
    height: 300px;
    border: #666 1px solid;
}
.black-stroke {
    stroke: black;
    stroke-width: 2;
}
.red-fill {
    fill: red;
}
.blue-fill {
    fill:blue;
}

